body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #FFFFFF;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

.arrow {
  width: 7.41px;
  height: 12px;
  fill: black;
}

.arrow :hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 157px;
  height: 68.95px;
  background: #FFFFFF;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
}

.modal__question {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  color: #4D4D4D;
  margin-bottom: 6px;
}

.modal__button {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  color: #5DCB42;
  width: 63.8px;
  height: 23.69px;
  background: #FFFFFF;
  border: 1px solid #5DCB42;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.modal__button:hover, .modal__button:focus {
  color: #FFFFFF;
  background: #5DCB42;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}

.button-container {
  position: relative;
}

.button-container:before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #FFFFFF;
  border-radius: 5px;
  bottom: -28px;
  left: 56px;
}

.button-container:after {
  content: " ";
  position: absolute;
  border: 20px solid transparent;
  border-right: 20px solid #FFFFFF;
  top: -42px;
  right: -12.7px;
}

.period-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 908px;
  height: 39px;
}

.period-block::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 705px;
  border-bottom: 1px dashed black;
}

.to-do__period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(212, 248, 203, 0.4);
  border-radius: 5px;
  width: 197px;
  height: 29px;
  margin: auto 0;
}

.to-do__period-svg {
  width: 12px;
  height: 13.33px;
  margin: 0 7px;
}

.to-do__period-date {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 19px;
  color: #000000;
}

.to-do__list {
  width: 905px;
  margin-top: 20px;
}

.to-do__list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  border-bottom: 1px solid #E5E5E5;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 12px;
}

.to-do__list-row:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.to-do__list-row:hover {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
}

.to-do__list-row:hover .category__block-description,
.to-do__list-row:focus .category__block-description {
  display: block;
}

.to-do__list-row:hover .arrow,
.to-do__list-row:focus .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow {
  padding: 5px;
  cursor: pointer;
}

.row__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60px;
  padding-right: 25px;
}

.time {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  color: #000000;
}

.time-interval {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.row__category {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  width: 375px;
}

.row__category::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 54px;
  width: 4px;
  background-color: #5DCB42;
  border-radius: 5px;
}

.row__category-task {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  width: 375px;
}

.row__category-task::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 54px;
  width: 4px;
  background-color: #C562C3;
  border-radius: 5px;
}

.category__svg {
  width: 32px;
  height: 32px;
  margin-left: 30px;
  margin-right: 14px;
}

.category__block-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
}

.category__block-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.category__block-description {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.row__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96px;
  height: 30px;
  border-radius: 15px;
  margin-top: 19px;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-right: 4px;
}

.status__background-red {
  background: #FEE6E7;
}

.status__background-red > .circle {
  background-color: #F33A3D;
}

.status__background-green {
  background: rgba(212, 248, 203, 0.4);
}

.status__background-green > .circle {
  background-color: #5DCB42;
}

.status__background-gray {
  background: #F3F3F3;
}

.status__background-gray > .circle {
  background-color: #C4C4C4;
}

.row__status-name {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.select {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.status-action-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 410px;
}

.fieldset {
  width: 120px;
  height: 43px;
  background: #FFFFFF;
  border: 1px solid #F2EDED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 0;
}

.fieldset__legend {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #C4C4C4;
  margin-left: 12px;
}

.select-box {
  position: relative;
  display: block;
  padding: 8px 11px 11px 11px;
}

.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
  position: absolute;
  top: 50%;
  right: -3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 15px;
  height: 11px;
}

.select-box__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95px;
}

.select-box__input {
  display: none;
}

.select-box__input:checked + .select-box__input-text {
  display: block;
}

.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.select-box__list {
  position: absolute;
  top: 25px;
  left: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
}

.select-box__option {
  position: relative;
  display: block;
  width: 96px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 19px;
  color: #000000;
  padding: 6px 11px;
  margin-top: 9px;
}

.select-box__option:hover, .select-box__option:focus {
  color: #5DCB42;
}

.select-box__option::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 11px;
  height: 1px;
  width: 95px;
  background-color: #F2EDED;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
/*# sourceMappingURL=main.css.map */